<% provide(:title, t("pages.signup.page_title")) %>

<h1><%= t("pages.signup.page_title") %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render "layouts/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= render "layouts/error_msg_line", field_opt: :name %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= render "layouts/error_msg_line", field_opt: :email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= render "layouts/error_msg_line", field_opt: :password %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= render "layouts/error_msg_line", field_opt: :password_confirmation %>

      <%= f.submit t("pages.signup.signup_button"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
