<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("pages.logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("pages.home.page_title"), home_path %></li>
        <li><%= link_to t("pages.help.page_title"), help_path %></li>
        <li><%= link_to t("pages.signup.page_title"), signup_path %></li>
        <li><%= link_to t("pages.locale_option.eng"), add_locale_to_request_path(:en) %>
        <li><%= link_to t("pages.locale_option.vi"), add_locale_to_request_path(:vi) %>
      </ul>
    </nav>
  </div>
</header>
